<a href="https://colab.research.google.com/github/madhusudhan0211/Machine_Learning/blob/main/Ridge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
df = pd.read_csv('CarPrice_Assignment.csv')

In [39]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [41]:
df.drop('car_ID',axis=1,inplace=True)
df.drop('aspiration',axis=1,inplace=True)
df.drop('compressionratio',axis=1,inplace=True)

In [42]:
df.head()

,symboling,CarName,fueltype,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,two,convertible,rwd,front,88.6,168.8,64.1,...,four,130,mpfi,3.47,2.68,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,two,convertible,rwd,front,88.6,168.8,64.1,...,four,130,mpfi,3.47,2.68,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,two,hatchback,rwd,front,94.5,171.2,65.5,...,six,152,mpfi,2.68,3.47,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,four,sedan,fwd,front,99.8,176.6,66.2,...,four,109,mpfi,3.19,3.40,102,5500,24,30,13950.0
4,2,audi 100ls,gas,four,sedan,4wd,front,99.4,176.6,66.4,...,five,136,mpfi,3.19,3.40,115,5500,18,22,17450.0

In [43]:
df.describe

<bound method NDFrame.describe of      symboling                   CarName fueltype doornumber      carbody  \
0            3        alfa-romero giulia      gas        two  convertible
1            3       alfa-romero stelvio      gas        two  convertible
2            1  alfa-romero Quadrifoglio      gas        two    hatchback
3            2               audi 100 ls      gas       four        sedan
4            2                audi 100ls      gas       four        sedan
..         ...                       ...      ...        ...          ...
200         -1           volvo 145e (sw)      gas       four        sedan
201         -1               volvo 144ea      gas       four        sedan
202         -1               volvo 244dl      gas       four        sedan
203         -1                 volvo 246   diesel       four        sedan
204         -1               volvo 264gl      gas       four        sedan

    drivewheel enginelocation  wheelbase  carlength  carwidth  ...  \
0          rwd          front       88.6      168.8      64.1  ...
1          rwd          front       88.6      168.8      64.1  ...
2          rwd          front       94.5      171.2      65.5  ...
3          fwd          front       99.8      176.6      66.2  ...
4          4wd          front       99.4      176.6      66.4  ...
..         ...            ...        ...        ...       ...  ...
200        rwd          front      109.1      188.8      68.9  ...
201        rwd          front      109.1      188.8      68.8  ...
202        rwd          front      109.1      188.8      68.9  ...
203        rwd          front      109.1      188.8      68.9  ...
204        rwd          front      109.1      188.8      68.9  ...

     cylindernumber  enginesize fuelsystem boreratio  stroke horsepower  \
0              four         130       mpfi      3.47    2.68        111
1              four         130       mpfi      3.47    2.68        111
2               six         152       mpfi      2.68    3.47        154
3              four         109       mpfi      3.19    3.40        102
4              five         136       mpfi      3.19    3.40        115
..              ...         ...        ...       ...     ...        ...
200            four         141       mpfi      3.78    3.15        114
201            four         141       mpfi      3.78    3.15        160
202             six         173       mpfi      3.58    2.87        134
203             six         145        idi      3.01    3.40        106
204            four         141       mpfi      3.78    3.15        114

     peakrpm  citympg  highwaympg    price
0       5000       21          27  13495.0
1       5000       21          27  16500.0
2       5000       19          26  16500.0
3       5500       24          30  13950.0
4       5500       18          22  17450.0
..       ...      ...         ...      ...
200     5400       23          28  16845.0
201     5300       19          25  19045.0
202     5500       18          23  21485.0
203     4800       26          27  22470.0
204     5400       19          25  22625.0

[205 rows x 23 columns]>

In [44]:
df2 = pd.get_dummies(df, columns = ['CarName','fueltype','doornumber','carbody','drivewheel','enginelocation','cylindernumber','fuelsystem','enginetype'])
df2

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,horsepower,...,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi,enginetype_dohc,enginetype_dohcv,enginetype_l,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,111,...,1,0,0,1,0,0,0,0,0,0
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,111,...,1,0,0,1,0,0,0,0,0,0
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,154,...,1,0,0,0,0,0,0,0,1,0
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,102,...,1,0,0,0,0,0,1,0,0,0
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,115,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,114,...,1,0,0,0,0,0,1,0,0,0
201,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,160,...,1,0,0,0,0,0,1,0,0,0
202,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,134,...,1,0,0,0,0,0,0,0,1,0
203,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,106,...,0,0,0,0,0,0,1,0,0,0
204,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,114,...,1,0,0,0,0,0,1,0,0,0

In [45]:
df.corr

<bound method DataFrame.corr of      symboling                   CarName fueltype doornumber      carbody  \
0            3        alfa-romero giulia      gas        two  convertible
1            3       alfa-romero stelvio      gas        two  convertible
2            1  alfa-romero Quadrifoglio      gas        two    hatchback
3            2               audi 100 ls      gas       four        sedan
4            2                audi 100ls      gas       four        sedan
..         ...                       ...      ...        ...          ...
200         -1           volvo 145e (sw)      gas       four        sedan
201         -1               volvo 144ea      gas       four        sedan
202         -1               volvo 244dl      gas       four        sedan
203         -1                 volvo 246   diesel       four        sedan
204         -1               volvo 264gl      gas       four        sedan

    drivewheel enginelocation  wheelbase  carlength  carwidth  ...  \
0          rwd          front       88.6      168.8      64.1  ...
1          rwd          front       88.6      168.8      64.1  ...
2          rwd          front       94.5      171.2      65.5  ...
3          fwd          front       99.8      176.6      66.2  ...
4          4wd          front       99.4      176.6      66.4  ...
..         ...            ...        ...        ...       ...  ...
200        rwd          front      109.1      188.8      68.9  ...
201        rwd          front      109.1      188.8      68.8  ...
202        rwd          front      109.1      188.8      68.9  ...
203        rwd          front      109.1      188.8      68.9  ...
204        rwd          front      109.1      188.8      68.9  ...

     cylindernumber  enginesize fuelsystem boreratio  stroke horsepower  \
0              four         130       mpfi      3.47    2.68        111
1              four         130       mpfi      3.47    2.68        111
2               six         152       mpfi      2.68    3.47        154
3              four         109       mpfi      3.19    3.40        102
4              five         136       mpfi      3.19    3.40        115
..              ...         ...        ...       ...     ...        ...
200            four         141       mpfi      3.78    3.15        114
201            four         141       mpfi      3.78    3.15        160
202             six         173       mpfi      3.58    2.87        134
203             six         145        idi      3.01    3.40        106
204            four         141       mpfi      3.78    3.15        114

     peakrpm  citympg  highwaympg    price
0       5000       21          27  13495.0
1       5000       21          27  16500.0
2       5000       19          26  16500.0
3       5500       24          30  13950.0
4       5500       18          22  17450.0
..       ...      ...         ...      ...
200     5400       23          28  16845.0
201     5300       19          25  19045.0
202     5500       18          23  21485.0
203     4800       26          27  22470.0
204     5400       19          25  22625.0

[205 rows x 23 columns]>

In [46]:
X = df2.iloc[:,1:].values
y = df2.iloc[:,1].values

In [47]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.2,random_state = 0)

In [48]:
from sklearn.linear_model import Ridge

In [49]:
model = Ridge(normalize=True)

In [50]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  FutureWarning,

Ridge(normalize=True)

In [51]:
y_pred = model.predict(X_test)

In [52]:
from sklearn.metrics import r2_score

In [53]:
r2_score(y_test,y_pred)

0.8394363195764943